body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("img/Untitled-4.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    color: rgb(0, 0, 0);
    background: rgba(205, 205, 205, 0.8);
    box-shadow: 0 4px 8px rgba(184, 183, 183, 0.1);
    padding: 20px 40px;
}

.header-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    text-shadow: 10px;
    margin: 0;
    letter-spacing: 1rem;
}

header h3 {
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 10px;
    margin: 0;
}

/* Navigation Styles */
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(0, 126, 73);
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h2 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.projects-list {
    list-style-type: none; /* Removes default bullet points */
    padding-left: 0;
}

.projects-list li {
    background: rgba(222, 222, 222, 0.8);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.projects-list a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.projects-list a:hover {
    color: rgb(0, 175, 223);
}

.projects-list li::before {
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

footer {
    background: rgba(205, 205, 205, 0.8);
    box-shadow: 0 2px 4px rgba(184, 183, 183, 0.1);
    padding: 10px 20px;
    text-align: center;
    position: relative; /* Ensure it is positioned correctly */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom */
    color: rgb(0, 0, 0);
}

footer p {
    font-family: 'Roboto', Arial, sans-serif; /* Ensure consistent font */
    font-size: 14px;
    margin: 0; /* Remove default margin */
}
