/* Basic Body and Background Styling */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("img/Untitled-4.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Pushes the footer to the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Backdrop effects */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    
    z-index: -1;
}

/* Header Styles */
header {
    color: rgb(0, 0, 0);
    background: rgba(205, 205, 205, 0.8);
    box-shadow: 0 4px 8px rgba(184, 183, 183, 0.1);
    padding: 20px 40px;
}

.header-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    text-shadow: 10px;
    margin: 0;
    letter-spacing: 1rem;
}

header h3 {
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 10px;
    margin: 0;
}

/* Navigation Styles */
nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(0, 126, 73);
}

.my {
    text-align: center;
    padding: 20px;
    
}


/* Description Styles */
section.description h1 {
    color: rgb(46, 46, 46);
    font-size: 4rem;
    margin: 10px 0;
    text-shadow: 2px 2px 5px white; /* Proper text-shadow syntax */
}

section.description h3 {
    color: rgb(37, 35, 35);
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 2px 2px 5px white; /* Proper text-shadow syntax */
}

/* Button Container and Button Styling */
.button-style a {
    background-color:rgb(0, 126, 73);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

.button-style a:hover {
    background-color: rgb(9, 160, 97);
}

/* Footer Styling */
footer {
    background: rgba(205, 205, 205, 0.8);
    box-shadow: 0 2px 4px rgba(184, 183, 183, 0.1);
    padding: 10px 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: auto; /* Ensures the footer stays at the bottom */
}

footer p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
